@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@300&family=Sacramento&family=Source+Sans+Pro:wght@200;400&display=swap');


:root{
    --color1:rgba(235, 235, 235, 0.67);
    --color2: #444444;
    --color3: #171717;
    --color4: #D83A56;
    --color5 : white;
}



body{
    margin:0%;
    font-family: sans-serif;
    font-size: 1.4rem;
}

hr{
    width: 20%;
    border: none;
    border-top: 5px dotted var(--color4);
    margin: 0 40%;
}

/* HEADER */
header{
    
    background-color: var(--color4);
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
	max-height: 20vh;
    
}

a {
    text-decoration: none;
}

header nav{
    
    display: flex;
    justify-content: space-between;
    
    
}

.mainSheldon {
    color: var(--color5);
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
    text-align: left;
   
}

.navLinks{
    list-style: none;
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    vertical-align: middle;
    
}

.mainLink{
    display: inline;
    
}

.mainLink a{
    color: var(--color5);
    margin: 1rem;
}

.heading{
	font-weight: bold;
	font-style: italic;
	
}

.project-links{
	margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.link {
	position: relative;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
	margin: 1rem 1rem 1rem 1rem;
}

.primary-link{
	color: var(--color4);
	border: 1px solid var(--color4);
	border-radius: 0.5rem;
	display: inline;
	max-width: 3rem;
	background-color: var(--color5);
}

.secondary-link {
    background-color: var(--color4);
    border-radius: 0.5rem;
    color: var(--color5);
    display: inline;
    
    
}

/* HEADER */
/* HOMEPAGE */

main{
    min-height: 90vh;
}

.homePage{
    text-align: center;

}

.home-intro{
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--color5);
    margin:1rem;
}

.home-image{
    margin: 0.5%;
	border-radius: 50%;
}

.home{
    color: var(--color2);
    margin: 0.5rem;
}


.home-fsd{
    background-color: var(--color4);
    color: var(--color5);
}

/* HOMEPAGE */
/* ABOUT ME */

.about-section{    
    background-color: var(--color1);
    padding: 1rem;
}

.about, .feedback, .projects{
    width: 60%;
    margin: 0 20%;
}

.about-me, .feedback-header{
    color: var(--color3);
}

.about-feedback, .about-here{
    text-decoration: underline;
    color: var(--color4);
}

.about-fsd{
    color:var(--color4);
}

.social-media{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}

.fb-images{
    width: 2rem;
    margin: 0.5rem;
}

.fb-images:hover{
    transform: scale(1.15);
}

/* ABOUT ME */

/* FEEDBACK */
.feedback-section{
	padding: 1rem;
}
.social-media{
    margin: 1rem 20%;
}

.feedback-resume{
	text-decoration: none;
	color: var(--color5);
}
.feedback-resume:hover{
    transform: scale(1.15);
	text-decoration: underline;
}

.feedback-mail{
    margin:2rem auto;
    text-align: center;
}

.usr-name{
    width:40%;
    height: 2rem;
    margin: 0.5rem auto;
}

.usr-subject{
    width:82%;
    height: 2rem;
    margin: 0.5rem auto;
}

.usr-msg{
    width:82%;
    height: 6rem;
    margin: 0.5rem auto;
    font-family: sans-serif;
    font-size: 0.9rem;
}

.send-msg{
    background-color: var(--color4);
    color:var(--color5);
    padding: 0.5rem;
    border-radius: 0.2rem;
}

/* FEEDBACK */
/* FOOTER */
footer{
	display: flex;
	flex-direction: column;
    position: relative;
    bottom: 0%;
    
    
    background-color: var(--color4);
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    color: var(--color5);
    flex-wrap: wrap;
}

.footer-nav{
    margin:1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
	padding: 1rem;
}

.navLinks{
	display: flex;
	justify-content: space-evenly;
    list-style: none;
    
    vertical-align: middle;
    width: 60%;
	right: 0;
}

	
.footer-text{
    text-align: center;
}

.footer-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-p{
	display: inline-block;
}

.navLinks a{
    color: var(--color5);
    margin: 1rem;
}

.navLinks a:hover{
    text-decoration: underline;
}
/* FOOTER */
